@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;    
    margin: 0 auto;
    background: url(https://storage-web.b-cdn.net/Waves-3.4s-2744px.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: sticky;
    z-index: 100;
    top: 0;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);


  }

nav p {
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-79,
.btn-79 *,
.btn-79 :after,
.btn-79 :before,
.btn-79:after,
.btn-79:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-79 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color:#000;
  background-image: none;
  color:#fff;
  cursor: pointer;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 100%;
  font-weight: 600;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-79:disabled {
  cursor: default;
}
.btn-79:-moz-focusring {
  outline: auto;
}
.btn-79 svg {
  display: block;
  vertical-align: middle;
}
.btn-79 [hidden] {
  display: none;
}
.btn-79 {
  --height: 80px;
  background: none;
  border-radius: 999px;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: var(--height);
  -webkit-mask-image: none;
  padding: 0 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn-79 span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.btn-79:before {
  background:#fff;
  border-radius: 20px;
  content: "";
  height: calc(var(--height) / 1.7);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
  width: calc(var(--height) / 1.7);
}
.btn-79:hover:before {
  left: 0;
  width: 100%;
}

.project-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.6);
  -ms-transform: translate(-50%, -50%) scale(0.6);
  transform: translate(-50%, -50%) scale(0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 30px;
  border-radius: 50%;
  background: rgba(17, 25, 40, 0.9);
  text-align: center;
  opacity: 0;
  font-size: 30px;
  line-height: 1.33333;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

article:hover .project-box {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
 }

.navigation-item {
    margin: 10px;
  }  

.projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 0 auto;
    padding: 0 30px;
}

article {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px 30px;
    transition: transform 0.3s ease;
}

article:hover {
  background-color: rgba(14, 18, 26, 0.5);
  transform: translateY(-2%);
  transition: transform 0.3s ease;
  
}

header {
    text-align: center;
    max-width: 1200px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
}

header p {
    font-size: 18px;
}

main {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
}



.projects-heading {
  margin-bottom: 80px;
}

h2 {
  font-size: 30px;
}


.together-section {
  margin: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.together-section h2 {
  margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(216, 216, 216, 0.5);
    padding: 50px 0px;
    justify-content: space-between;
    margin-top: 50px;
    margin: 0 auto;
    max-width: 1200px;
}


form {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  color: white;
  margin-top: 80px;
}

 input[type="text"], input[type="email"] {
  margin-bottom: 20px;
  background-color: transparent;
  height: 40px;
  border-top: 0x;
  border-left: 0px;
  border-right: 0px;
  color: white;
  border-bottom-color:grey;
  font-size: 18px;

 }

textarea {
  margin-bottom: 20px;
  background-color: transparent;
  border-top: none;
  border-left: 0px;
  border-right: 0px;
  color: white;
  border-bottom-color:grey;
  font-size: 18px;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
  border-bottom-color: white;
}














@media (min-width: 768px) { 
    
    h1 {
        font-size: 80px;
    }

    h2 {
      font-size: 60px;
    }

    header p {
        font-size: 30px;
    }
    
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    article h3{
      font-size: 30px;
      margin-bottom: 0;
    }

    article p {
      font-size: 20px;
    }
  }